/*=====================================================
  BASE STYLING
=====================================================*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FDC14A;
}

p {
  text-align: center;
  font-size: 1.5em;
 
}

h1,
h2,
h3,
h4 {
  font-family: 'Corben', sans-serif;
}

h4 {
  font-size: .75em;
}

h3 {
  padding: 10px 0;
}

ul li {
  font-family: 'Nobile', sans-serif;
  list-style: none;
  padding: 20px 10px;
  margin: 0 10px;
}

#question {
  display: inline-block;
  margin-left: 70px;

}
/*=====================================================
CONTAINER
=====================================================*/

.container {
  margin: 0 auto;
  width: 50%;
  background-color: #F9F9F9;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .65);
}
/*=====================================================
  HEADER ELEMENTS
=====================================================*/

#logo {
  text-align: center;
  padding: 20px 0;
}

#questionHeader,
#answers {
  margin-left: 60px;
  padding-top: 30px;
}

#questionHeader {
  display: inline-block;
}
/*=====================================================
  BUTTONS
=====================================================*/

#btnNext,
#btnBack {
  width: 50px;
  height: 50px;
  float: right;
  text-align: center;
  positioN: relative;
  bottom: 50px;
  font-family: 'Nobile', sans-serif;
  font-size: .9em;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

#btnNext {
  background-color: #5BAC4E;
  border-bottom: 3px solid #1D6C10;
}

#btnBack {
  background-color: #D43737;
  border-bottom: 3px solid #910404;
}
